<div class="container">
  <div class="modal-header text-center">
    <h4 class="modal-title">Add Product</h4>
    <button type="button" class="btn-close" (click)="activeModal.close()" aria-label="Close"></button>
  </div>
  <form [formGroup]="productForm">
    <div class="row mt-1">
      <div class="col-lg-6">
        <div class="card shadow" style="border-radius: 10px !important;border: 1px solid #ffffff;">
          <div class="card-body">
            <h4 class="text-center  fw-semibold">Product Information</h4>
            <div class="text-center">
            </div>
            <div class="form-group mb-1">
              <label class="mb-1">Product Category</label>
              <select formControlName="productCategory" class=" form-select">
                <option value="Cosmetics">Cosmetics</option>
                <option value="Cloths">Cloths</option>
                <option value="Accessories">Accessories</option>
              </select>
              <p class="errorMsg" *ngIf="productForm.get('productCategory')?.hasError('required') && 
          (productForm.get('productCategory')?.dirty || productForm.get('productCategory')?.touched)">
                *this field is required!
              </p>
            </div>
            <div class="form-group mb-1">
              <label class="mb-1">Product Title</label>
              <input formControlName="productName" type="text" placeholder="Product Title" class="form-control ">
              <p class="errorMsg" *ngIf="productForm.get('productName')?.hasError('required') && 
          (productForm.get('productName')?.dirty || productForm.get('productName')?.touched)">
                *this field is required!
              </p>
            </div>
            <div class="form-group mb-1">
              <label class="mb-1">product Description</label>
              <textarea formControlName="productDescription" placeholder="product Description" rows="3"
                class="form-control "></textarea>
              <p class="errorMsg" *ngIf="productForm.get('productDescription')?.hasError('required') && 
          (productForm.get('productDescription')?.dirty || productForm.get('productDescription')?.touched)">
                *this field is required!
              </p>
            </div>
            <div class="form-group mb-1">
              <label class="mb-1">Price</label>
              <input formControlName="price" type="text" placeholder="Price" class="form-control ">
              <p class="errorMsg" *ngIf="productForm.get('price')?.hasError('required') && 
          (productForm.get('price')?.dirty || productForm.get('price')?.touched)">
                *this field is required!
              </p>
            </div>

            <div class="form-group mb-1 ">
              <label class="mb-1">Product MKU</label>
              <input formControlName="mku" type="text" placeholder="MKU Number" class="form-control ">
              <p class="errorMsg" *ngIf="productForm.get('mku')?.hasError('required') && 
          (productForm.get('mku')?.dirty || productForm.get('mku')?.touched)">
                *this field is required!
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">

        <div class="card shadow" style="border-radius: 10px !important;border: 1px solid #ffffff;">
          <div class=" card-body">
            <h4 class="text-center  fw-semibold">More Informations</h4>
            <div class="form-group mb-1">
              <label class="mb-1">Discount Type</label>
              <select formControlName="discountType" class=" form-select">
                <option value="Free">Free Shipping</option>
                <option value="OFF">25% OFF</option>
              </select>
              <p class="errorMsg" *ngIf="productForm.get('discountType')?.hasError('required') && 
          (productForm.get('discountType')?.dirty || productForm.get('discountType')?.touched)">
                *this field is required!
              </p>
            </div> 
            <div class="add-photo-container mt-3" (click)="filePicker.click()">
              <div class="container">
                <ion-icon name="camera-outline" class="add-photo-icon"></ion-icon>
                <p>ADD PRODUCT IMAGES</p>
              </div>
              <p>Tap an Image to edit them. To reorder, select the image hold and drag</p>
              <input (change)="onChangeFile($event)" accept="image/*" multiple="true" hidden #filePicker type="file"
                class="form-control">
            </div>
            <ion-row class="ion-no-border margin_top_16" lines="none">
              <ion-col size="3" *ngFor="let img of imageFiles; let i =index" style="padding-left: 10px;">
                <div class="image_div">
                  <img [src]=img.img width="100" height="100" style="border-radius: 10.462px;">
                  <img src="../../assets/del.svg" style="position: absolute; top: 0;right: -2px;" (click)="delteImage(i)">
                </div>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center mb-2">
      <button style="width: 30%;" (click)="submitFormData(productForm.value)"
        class="btn btn-success text-light mt-5 text-center" [disabled]="!productForm.valid">Save
        Product</button>
    </div>
  </form>
</div>