<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Filter Car</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="resetFilters()">Reset</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div style="position: relative;">
    <p class="fs ion-no-margin">
      <ion-text color="medium"><b>Price</b></ion-text><br>
      <ion-text color="medium"><b>${{filters.minPrice}} - ${{filters.maxPrice}}</b></ion-text>
    </p>

    <ion-range class="ion-no-padding" style="padding-left: 8px;padding-right: 8px;" [min]="0" [max]="5000"
      aria-label="Range with pin" [dualKnobs]="true" [value]="priceRange" [pin]="false"
      (ionChange)="updatePriceFilter($event)" [pinFormatter]="pinFormatter"></ion-range>
  </div>

  <div style="position: relative;">
    <p class="fs ion-no-margin">
      <ion-text color="medium"><b>Registration Year</b></ion-text><br>
      <ion-text color="medium"><b>{{filters.minYear}} - {{filters.maxYear}}</b></ion-text>
    </p>
    <ion-range class="ion-no-padding" style="padding-left: 8px;padding-right: 8px;" [dualKnobs]="true" [min]="1990"
      [max]="2023" [value]="yearRange" aria-label="Range with pin" [pin]="false" (ionChange)="updateYearRange($event)"
      [pinFormatter]="pinFormatter"></ion-range>
  </div>

  <div style="position: relative;">
    <p class="fs ion-no-margin">
      <ion-text color="medium"><b>Mileage</b></ion-text><br>
      <ion-text color="medium"><b>{{filters.minMileage}} km - {{filters.maxMileage}} km</b></ion-text>
    </p>
    <ion-range class="ion-no-padding" style="padding-left: 8px;padding-right: 8px;" [dualKnobs]="true" [min]="0"
      [max]="100000" [value]="mileageRange" (ionChange)="updateMileage($event)" aria-label="Range with pin" [pin]="false"
      [pinFormatter]="pinFormater"></ion-range>
  </div>

  <ion-card class="ion-no-margin">
    <ion-item lines="none">
      <ion-select [(ngModel)]="filters.company" placeholder="All Companies" multiple="false">
        <ion-select-option slot="end" value="all">All Companies</ion-select-option>
        <ion-select-option *ngFor="let company of dataHelper.carCompany" slot="end" [value]="company">
          {{company}}
        </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card class="ion-no-margin">
    <ion-item lines="none">
      <ion-select [(ngModel)]="filters.model" placeholder="Car Model" multiple="false">
        <ion-select-option slot="end" value="all">All Models</ion-select-option>
        <ion-select-option *ngFor="let model of dataHelper.carModels">{{model}}</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card class="ion-no-margin">
    <ion-item lines="none">
      <ion-select [(ngModel)]="filters.location" placeholder="Choose Location" multiple="false">
        <ion-select-option value="all">All Locations</ion-select-option>
        <ion-select-option value="Brunei-Muara District, Brunei">Brunei-Muara District, Brunei</ion-select-option>
        <ion-select-option value="Tutong District, Brunei">Tutong District, Brunei</ion-select-option>
        <ion-select-option value="Belait District, Brunei">Belait District, Brunei</ion-select-option>
        <ion-select-option value="Temburong District, Brunei">Temburong District, Brunei</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card class="ion-no-margin">
    <ion-item lines="none">
      <ion-select [(ngModel)]="filters.carburant" placeholder="Fuel Type" multiple="false">
        <ion-select-option value="all">All Types</ion-select-option>
        <ion-select-option value="Gas">Gas</ion-select-option>
        <ion-select-option value="Diesel">Diesel</ion-select-option>
        <ion-select-option value="Electric">Electric</ion-select-option>
        <ion-select-option value="Petrol">Petrol</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

  <ion-card class="ion-no-margin">
    <ion-item lines="none">
      <ion-select [(ngModel)]="filters.transmission" placeholder="Transmission" multiple="false">
        <ion-select-option value="all">All</ion-select-option>
        <ion-select-option value="Manual">Manual</ion-select-option>
        <ion-select-option value="Automatic">Automatic</ion-select-option>
        <ion-select-option value="Hybrid">Hybrid</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-card>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="applyFilters()" class="ion-margin" expand="block" color="primary">
      Apply Filter
    </ion-button>
  </ion-toolbar>
</ion-footer>