ion-card {
    border-radius: 10px !important;
    box-shadow: none;

    swiper-container {
        height: 280px !important;
        width: 100% !important;

        swiper-slide {
            width: 100% !important;
            height: 280px !important;

            img {
                height: 280px !important;
                width: 100% !important;
                object-fit: cover !important;
            }
        }
    }
}

.pTag {
    font-size: 20px !important;
}

.desc {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
}

.horizontalScroll2 {
    overflow-x: scroll;
    white-space: nowrap;

    div {
        border-radius: 12px;
        padding-top: 10px !important;
    }

    .reviewCard1 {
        display: inline-block;
        width: 240px !important;
        border-radius: 8px;
        white-space: initial;
        box-shadow: 5px 5px 20px 0px rgb(240 239 239);
    }
}