<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Update Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item lines="none">
    <ion-icon color="primary" slot="start" name="lock-closed-outline"></ion-icon>
    <ion-input [(ngModel)]="currentPassword" type="{{showCurrentPassword?'text':'password'}}"
      placeholder="Current Password"></ion-input>
    <ion-icon (click)="showCurrentPassword=!showCurrentPassword" slot="end"
      name="{{showCurrentPassword ? 'eye-off' : 'eye'}}">
    </ion-icon>
  </ion-item>

  <ion-item lines="none">
    <ion-icon color="primary" slot="start" name="lock-closed-outline"></ion-icon>
    <ion-input [(ngModel)]="newPassword" type="{{showNewPassword? 'text':'password'}}"
      placeholder="New Password"></ion-input>
    <ion-icon (click)="showNewPassword=!showNewPassword" name="{{showNewPassword?'eye-off':'eye'}}"></ion-icon>

  </ion-item>

  <ion-item lines="none">
    <ion-icon color="primary" slot="start" name="lock-closed-outline"></ion-icon>
    <ion-input [(ngModel)]="confirmNewPassword" type="{{showConfrimPassword?'text': 'password'}}"
      placeholder="Confirm Password"></ion-input>
    <ion-icon (click)="showConfrimPassword=!showConfrimPassword" name="{{showConfrimPassword?'eye-off':'eye'}}">
    </ion-icon>
  </ion-item>

  <ion-button class="mt-1" (click)="updatePassword()" [disabled]="!currentPassword || !newPassword || !confirmNewPassword"
    expand="block" color="primary"><ion-text color="light">Update
      Password</ion-text></ion-button>

</ion-content>