<div class="container-fluid bg-light pb-5">
  <div class="row">
    <div class="col-md-7 m-0 p-0">
      <div class="text-center">
        <img src="../../../assets/images/forgot-password.png"
          style="object-fit: cover; height: 350px;margin-top: 140px;">
      </div>
    </div>
    <div class="col-md-5">
      <div class="container p-5">
        <h5 class="mt-5 pink text-center mb-3 fw-bold">
          Update Password
        </h5>

        <p class="m-0 mt-3 mb-2 ms-1">Current Password</p>
        <div class="input-group  shadow-sm">
          <span class="input-group-text btn-pink">
            <img class="iconImg" src="../../assets/icons/lock-closed-outline.svg" height="20px">
          </span>
          <input [(ngModel)]="currentPassword" type="password" class="form-control" placeholder="Current Password">
        </div>

        <p class="m-0 mt-3 mb-2 ms-1">New Password</p>
        <div class="input-group shadow-sm">
          <span class="input-group-text btn-pink">
            <img class="iconImg" src="../../assets/icons/lock-closed-outline.svg" height="20px">
          </span>
          <input [(ngModel)]="newPassword" type="password" class="form-control" placeholder="New Password">
        </div>

        <p class="m-0 mt-3 mb-2 ms-1">Confirm Password</p>
        <div class="input-group  shadow-sm">
          <span class="input-group-text btn-pink">
            <img class="iconImg" src="../../assets/icons/lock-closed-outline.svg" height="20px">
          </span>
          <input [(ngModel)]="confirmNewPassword" type="password" class="form-control" placeholder="Confirm Password">
        </div>

        <div class="text-center mt-4">
          <button (click)="updatePassword()" [disabled]="!currentPassword || !newPassword || !confirmNewPassword"
            class="btn shadow-sm btn-pink text-light round" type="button">Update Password</button>
        </div>
      </div>

    </div>
  </div>

</div>