<ion-content>
  <app-header></app-header>

  <div style="margin-top: 130px !important;" class="container-fluid">

    <div class="product-content product-wrap clearfix product-deatil">
      <div class="row">
        <div class="col-md-5 col-sm-12 col-xs-12">
          <div class="product-image">
            <swiper-container pagination="true">
              <swiper-slide *ngFor="let img of productDetail.imageUrls">
                <img class="images" [src]='img'>
              </swiper-slide>
            </swiper-container>
          </div>
        </div>

        <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12">
          <div class="ms-3">
            <h1 class="bold name">
              {{productDetail.productName}} <br>
              <small>Product by <a href="javascript:void(0);">ChicPicks</a></small>
              <ion-item class="ion-no-padding" lines="none">
                <ion-icon *ngFor="let star of [1,2,3,4,5]" color="warning" name="star"></ion-icon>
                <ion-text style="font-size: 15px !important;" class="ms-1">(5)</ion-text>
              </ion-item>
              <span class="fa fa-2x">
                <h3 class="bold">(109) Reviews</h3>
              </span>
            </h1>
            <h3 class="mt-2 bold price-container">
              <small>Product Category</small>
              {{productDetail.productCategory | titlecase}}
            </h3>
            <hr />

            <h3 class="bold price-container">
              ${{productDetail.price}}
              <small> includes tax</small>
            </h3>
            <div class="certified">
              <ul>
                <li>
                  <a href="javascript:void(0);">Delivery time<span>7 Working Days</span></a>
                </li>
                <li>
                  <a href="javascript:void(0);">Certified<span>Quality Assured</span></a>
                </li>
              </ul>
            </div>
            <hr />
            <h2 class="bold">Product Description</h2>
            <p><ion-text color="medium">
                {{productDetail.productDescription}}
              </ion-text></p>
            <hr />
            <div class="row">
              <div class="col-sm-12 col-md-6 col-lg-6">
                <a (click)="addToCart(productDetail)" class="btn btn-success btn-lg">Add to cart
                  $({{productDetail.price}})</a>
              </div>
              <div class="col-sm-12 col-md-6 col-lg-6">
                <div class="btn-group pull-right">
                  <button (click)="addWishlist(productDetail)" style="font-size: 13px !important;"
                    class="btn btn-primary btn-default">
                    Add to wishlist
                  </button>
                  <button style="font-size: 13px !important;" class="btn btn-secondary btn-default"> Contact
                    Seller</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <app-all-reviews></app-all-reviews>
  </div>
  <div class="mt-3">
    <app-footer></app-footer>
  </div>
</ion-content>