.imgAvatar {
    img {
        height: 80px;
        object-fit: cover !important;
        width: 80px;
        border-radius: 40px !important;
    }
}
.horizontal-scroll-container {
    overflow-x: scroll ;
    white-space: nowrap;
  }
  
  .horizontal-scroll-container ion-row {
    display: flex;
  }
  
  
  