<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <h1 class="text-dark">Shop from top <b class="primary-text">Categories</b></h1>
    </div>
  </div>
</div>

<hr>

<div class="horizontalScroll2">
  <div class="reviewCard1" *ngFor="let cat of dataHelper.allCategories">
    <div class="ion-text-center">
      <ion-card-content>
        <div class="imgAvatar">
          <img [src]="cat?.fileUrl" alt="">
        </div>
        <ion-label>
          <h2 style="font-size: 15px !important;" class="bold mt-1">{{cat.categoryTitle | titlecase}}</h2>
        </ion-label>
      </ion-card-content>
    </div>
  </div>
</div>