<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-10 col-md-10 col-sm-10">
      <h1 class="text-dark">Top <b class="primary-text">Electronics Brands</b></h1>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <h4 class="text-primary text-end">View All</h4>
    </div>
  </div>
</div>
<hr>
<ion-row>
  <ion-col size="4" *ngFor="let img of slideImages;index as i">
    <ion-card class="ion-no-margin">
      <ion-card-content class="ion-no-padding">
        <img class="images" [src]="img" height="200px">
      </ion-card-content>
    </ion-card>
  </ion-col>
</ion-row>