<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-10 col-md-10 col-sm-10">
      <h1 class="text-dark">Top <b class="primary-text">Electronics Brands</b></h1>
    </div>
    <!-- <div class="col-lg-2 col-md-2 col-sm-2"> -->
      <!-- <h4 (click)="allBrands()" style="cursor: pointer !important;" class="text-primary text-end">View All</h4> -->
    <!-- </div> -->
  </div>
</div>
<hr>
<div class="horizontalScroll2">

    <ion-card *ngFor="let brand of dataHelper.allBrands;index as i" class=" reviewCard1">
      <ion-card-content class="ion-no-padding">
        <img class="images" [src]="brand.fileUrl" height="200px">
      </ion-card-content>
    </ion-card>

</div>