ion-card {
    box-shadow: none !important;
    border-radius: 10px !important;

    ion-card-content {
        .images {
            border-radius: 10px !important;
            width: 100% !important;
            height: 200px !important;
            object-fit: cover !important;
        }
    }
}

.horizontalScroll2 {
    overflow-x: scroll;
    white-space: nowrap;

    div {
        border-radius: 12px;
        padding-top: 10px !important;
    }

    .reviewCard1 {
        display: inline-block;
        width: 240px !important;
        border-radius: 8px;
        white-space: initial;
        box-shadow: 5px 5px 20px 0px rgb(240 239 239);
    }
}