<ion-content class="ion-padding">

  <div class="ion-text-center ion-margin-top">
    <img src="../../../assets/icon/log.png" style="height: 80px;" alt="">
  </div>

  <h3 class="bold ion-text-center">
    <ion-text color="dark">Create Account</ion-text>
  </h3>

  <form [formGroup]="onRegisterForm">
    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
        <ion-input formControlName="fullName" type="text" placeholder="Full name"></ion-input>
      </ion-item>
    </ion-card>
    <p class="errorMsg" *ngIf="onRegisterForm.get('fullName').hasError('required') &&
    (onRegisterForm.get('fullName').dirty || onRegisterForm.get('fullName').touched)">
      *This field is required!
    </p>

    <ion-card class="ion-no-margin ">
      <ion-item lines="none">
        <ion-icon color="primary" slot="start" name="mail-outline"></ion-icon>
        <ion-input formControlName="email" type="email" placeholder="Email address"></ion-input>
      </ion-item>
    </ion-card>
    <p class="errorMsg" *ngIf="(onRegisterForm.get('email').hasError('pattern') ||
    onRegisterForm.get('email').hasError('required')) &&
        (onRegisterForm.get('email').dirty || onRegisterForm.get('email').touched)">
      *Enter a valid email address
    </p>

    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="primary" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-icon (click)="showPassword=!showPassword" name="{{showPassword ? 'eye-off' : 'eye'}}" slot="end">
        </ion-icon>
        <ion-input formControlName="password" type="{{showPassword ? 'text' : 'password'}}"
          placeholder="Password"></ion-input>
      </ion-item>
    </ion-card>
    <p class="errorMsg" *ngIf="onRegisterForm.get('password').hasError('required') &&
    (onRegisterForm.get('password').dirty || onRegisterForm.get('password').touched)">
      *This field is required!
    </p>

    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="primary" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-icon (click)="showConfPassword=!showConfPassword" name="{{showConfPassword ? 'eye-off' : 'eye'}}"
          slot="end">
        </ion-icon>
        <ion-input formControlName="cPassword" type="{{showConfPassword ? 'text' : 'password'}}"
          placeholder="Confirm Password">
        </ion-input>
      </ion-item>
    </ion-card>
    <p class="errorMsg" *ngIf="onRegisterForm.get('cPassword').hasError('required') &&
        (onRegisterForm.get('cPassword').dirty || onRegisterForm.get('cPassword').touched)">
      *This field is required!
    </p>

    <ion-button expand="block" color="primary" (click)="createAccount(onRegisterForm.value)"
      [disabled]="loginProcessing">
      <ion-spinner *ngIf="loginProcessing"></ion-spinner>
      <span *ngIf="!loginProcessing">Sign Up</span>
    </ion-button>

    <p class="ion-text-center">
      <ion-text color="medium">
        Already have an account? <b routerDirection="back" routerLink="/login">Login</b>
      </ion-text>
    </p>
  </form>

</ion-content>