.saloonImg {
    height: 612px !important;
    width: 650px !important;
    object-fit: cover !important;
    border-radius: 15px 0 0 15px !important;
}

button {
    width: 200px !important;
    border-radius: 30px !important;
}

.bg-pink {
    height: 100vh !important;
}

:host {
    background-color: #163b77;
}

.selected-card {
    border: 2px solid blue; // Adjust the border style as needed
}

.unselected-card {
    border: 2px solid transparent; // No border for unselected cards
}

.iconImg {
    filter: invert(100%);
}

ion-card {
    border-radius: 10px !important;
    background-color: #f9f9f9 !important;
    box-shadow: none !important;
}