<ion-content class="ion-padding">

  <div class="ion-text-center ion-margin-top">
    <img src="../../../assets/icon/log.png" style="height: 80px;" alt="">
  </div>

  <h3 class="bold ion-text-center">
    <ion-text color="dark">Welcome Back</ion-text>
  </h3>

  <p class="ion-text-center">
    <ion-text color="medium">Please sign in to continue.</ion-text>
  </p>

  <form [formGroup]="onLoginForm">
    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="primary" slot="start" name="mail-outline"></ion-icon>
        <ion-input formControlName="email" type="email" placeholder="Email address"></ion-input>
      </ion-item>
    </ion-card>
    <p class="errorMsg" *ngIf="onLoginForm.get('email').hasError('required') &&
    (onLoginForm.get('email').dirty || onLoginForm.get('email').touched)">
      *Enter a valid email address
    </p>

    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="primary" slot="start" name="lock-closed-outline"></ion-icon>
        <ion-input formControlName="password" type="{{showPassword?'text': 'password'}}"
          placeholder="Password"></ion-input>
        <ion-icon (click)="showPassword=!showPassword" name="{{showPassword?'eye-off':'eye'}}">
        </ion-icon>
      </ion-item>
    </ion-card>
    <p class="errorMsg" *ngIf="onLoginForm.get('password').hasError('required') &&
    (onLoginForm.get('password').dirty || onLoginForm.get('password').touched)">
      *Password is required
    </p>

    <p routerLink="/reset-password" class="ion-text-end">
      <ion-text color="medium">
        Forgot password?
      </ion-text>
    </p>

    <ion-button shape="round" (click)="loginAccount(onLoginForm.value)"
      [disabled]="loginProcessing || !onLoginForm.valid" expand="block" color="primary">
      <ion-spinner *ngIf="loginProcessing"></ion-spinner>
      <span *ngIf="!loginProcessing">Login</span>
    </ion-button>

    <p class="ion-text-center">
      <ion-text color="medium">
        Don't have account yet? <b routerLink="/signup">Sign Up</b>
      </ion-text>
    </p>
  </form>

</ion-content>