.saloonImg {
    height: 612px !important;
    width: 650px !important;
    object-fit: cover !important;
    border-radius: 15px 0 0 15px !important;
}

button {
    width: 200px !important;
    border-radius: 30px !important;
}

.bg-pink {
    height: 100vh !important;
}

:host {
    background-color: #163b77;
}

.iconImg {
    filter: invert(100%);
}