<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center ion-padding-top ion-margin-bottom">
    <img src="../../../assets/icon/password.png" height="100px" alt="">
  </div>

  <p class="ion-text-center">
    <ion-text>Enter your registered email address, we'll send you a password’s reset link to follow!</ion-text>
  </p>
  <div>
    <ion-card class="ion-no-margin">
      <ion-item lines="none">
        <ion-icon color="primary" slot="start" name="mail-outline"></ion-icon>
        <ion-input [(ngModel)]="email" type="email" placeholder="Email address"></ion-input>
      </ion-item>
    </ion-card>
  </div>

  <ion-button [disabled]="!email" (click)="resetPassword()" color="primary" expand="block">
    <ion-text color="light">Submit</ion-text>
  </ion-button>

</ion-content>