<app-header></app-header>

<ion-content class="ion-padding">
    <div class="scrollHorizontal" style="margin-top: 120px !important;">
        <ion-card *ngFor="let img of slideImages;index as i" class="ion-no-margin reviewCard1">
            <ion-card-content class="ion-no-padding">
                <img class="images" [src]="img" height="200px">
            </ion-card-content>
        </ion-card>
    </div>

    <div class="mt-2 mb-2">
        <app-categories></app-categories>
    </div>
    
    <div class="mt-2">
        <app-product-listing></app-product-listing>
    </div>

    <div class="mt-2 mb-2">
        <app-brands></app-brands>
    </div>

    <div class="mt-2 mb-2">
        <app-recommended-products></app-recommended-products>
    </div>

    <app-footer></app-footer>

</ion-content>