<ion-content class="ion-padding">

  <app-header></app-header>
  <div style="margin-top: 170px !important;">
    <div class="text-center">
      <ion-icon color="dark" style="font-size: 100px !important;" name="cart-outline"></ion-icon>
    </div>
    <h1 class="bold text-center mb-2 text-dark" style="font-size: 30px;">My Cart</h1>
  </div>
  <div class="card mb-4">
    <div class="row">
      <div class="col-md-8 cart">
        <ion-item lines="full" class="ion-no-padding" *ngFor="let item of myCart">
          <ion-thumbnail class="shadow" slot="start">
            <img [src]="item.coverImage" alt="Product Image" />
          </ion-thumbnail>
          <ion-label>
            <h1 class="bold">{{ item.title | titlecase }}</h1>
            <p>{{ item.productDescription }}</p>
          </ion-label>
          <ion-button expand="block" color="dark" class="ms-2">
            {{ item.price }} * 1
          </ion-button>
        </ion-item>
        <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div>
      </div>
      <div class="col-md-4 summary">
        <div>
          <h5><b>Summary</b></h5>
        </div>
        <hr>
        <div class="row">
          <div class="col" style="padding-left:0;">ITEMS {{ totalItems }}</div>
          <div class="col text-right">${{ totalPrice ? totalPrice.toFixed(2) : '0.00' }}</div>
        </div>
        <form>
          <p>SHIPPING</p>
          <select>
            <option class="text-muted">Standard-Delivery- $5.00</option>
          </select>
          <p>GIVE CODE</p>
          <input id="code" placeholder="Enter your code">
        </form>
        <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
          <div class="col">TOTAL PRICE</div>
          <div class="col text-right">${{grandTotal}}</div>
        </div>
        <button class="btn" (click)="orderPlaced()">CHECKOUT (${{grandTotal}})</button>
      </div>
    </div>

  </div>
  <app-footer></app-footer>
</ion-content>