<ion-content class="ion-padding">

  <app-header></app-header>
  <div style="margin-top: 120px !important;" class="cart-wrap">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="text-center">
            <img height="100px" src="../../../assets/images/brand-image.png" alt="">
          </div>
          <h1 class="bold text-center mb-3 text-dark" style="font-size: 30px;">Top Brands</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <div class="container-fluid">
      <div class="row mb-2">
        <h1 class="text-dark">Top Available<b class="primary-text"> Brands</b></h1>
      </div>
    </div>
    <hr>
    <ion-row>
      <ion-col class="mb-2" size="4" *ngFor="let brand of dataHelper.allBrands;index as i">
        <ion-card class="ion-no-margin shadow">
          <ion-card-content class="ion-no-padding">
            <img class="images" [src]="brand.fileUrl" height="200px">
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <app-footer></app-footer>

</ion-content>