<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card-content class="ion-no-padding">
    <div style="position: relative;" class="ion-text-center">
      <ion-avatar style="margin: auto;height: 140px; width: 140px;">
        <img class="profileImage" style="height: 100%; width:100%;object-fit: cover;"
          [src]="imagePath || dataHelper.userAvatar">
      </ion-avatar>
      <ion-fab (click)="pictureClick()" vertical="bottom" slot="fixed" horizontal="center">
        <ion-fab-button color="primary" style="margin-left: 18px;" size="small">
          <ion-icon name="camera-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </div>

    <div class="ion-text-center">
      <h2 class="bold mt-1">
        <ion-text color="primary">{{userAuth.currentUser.fullName}}</ion-text>
      </h2>
      <p class="m-0">{{userAuth.currentUser.email}}</p>
    </div>
  </ion-card-content>

  <ion-item lines="none" class="ion-margin-top">
    <ion-icon color="primary" slot="start" name="person-outline"></ion-icon>
    <ion-input [(ngModel)]="currentUser.fullName" type="text" placeholder="Full Name"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-icon color="primary" slot="start" name="mail-outline"></ion-icon>
    <ion-input [(ngModel)]="currentUser.email" disabled type="email" placeholder="Email Address"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-icon color="primary" slot="start" name="call-outline"></ion-icon>
    <ion-input [(ngModel)]="currentUser.phone" type="tel" placeholder="Phone"></ion-input>
  </ion-item>

  <ion-item lines="none">
    <ion-icon slot="start" color="primary" name="male-female-outline"></ion-icon>
    <ion-select [(ngModel)]="currentUser.gender" placeholder="Gender" multiple="false">
      <ion-select-option slot="end" value="Male">Male</ion-select-option>
      <ion-select-option slot="end" value="Female">Female</ion-select-option>
      <ion-select-option slot="end" value="Other">Other</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none">
    <ion-icon color="primary" slot="start" name="calendar-number-outline"></ion-icon>
    <ion-datetime-button datetime="datetime"></ion-datetime-button>
  </ion-item>

  <ion-button (click)="updateProfile()" expand="block" color="primary">
    Update Profile
  </ion-button>

</ion-content>

<ion-modal [keepContentsMounted]="true">
  <ng-template>
    <ion-datetime [(ngModel)]="currentUser.dob" id="datetime" presentation="date"></ion-datetime>
  </ng-template>
</ion-modal>