<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-10 col-md-10 col-sm-10">
      <h1 class="text-dark">Grab the best<b class="primary-text"> Recommended Products</b></h1>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <h4 (click)="allProduct()" style="cursor: pointer !important;" class="text-primary text-end">View All</h4>
    </div>
  </div>
</div>
<hr>
<div>
  <div *ngIf="dataHelper.allProducts">
    <ion-row>
      <ion-col *ngFor="let product of dataHelper.allProducts" size-md="6" size-lg="4" size-xl="3">
        <ion-card (click)="productDetail(product)" class="ion-no-margin shadow mb-1">
          <ion-card-content class="ion-no-padding">
            <swiper-container pagination="true">
              <swiper-slide>
                <img [src]='product.coverImageUrl'>
              </swiper-slide>
              <!-- <swiper-slide *ngFor="let img of product.imgUrls">
                <img [src]='img'>
              </swiper-slide> -->
            </swiper-container>
            <ion-icon (click)="addWishlist(product)" color="{{isProductInWishlist(product) ? 'danger' : 'medium'}}"
              class="heart" color="medium" name="heart"></ion-icon>
            <ion-badge class="badge" color="dark">{{product?.discountType}}</ion-badge>
            <div style="padding-left: 10px !important;padding-bottom: 6px">

              <ion-item style="--background: transparent !important;" lines="none" class="ion-no-padding">
                <ion-label class="ion-text-wrap">
                  <h2 class="ion-no-margin pName pTag bold">
                    <ion-text color="dark">{{product.productName | titlecase}}</ion-text>
                  </h2>
                  <p class="mb-1 pDescription">
                    <ion-text color="medium">{{product.productDescription}}</ion-text>
                  </p>
                  <hr>
                  <p class="bold text-primary pTag">${{product.price}}</p>

                </ion-label>
              </ion-item>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>

  <ion-row>

    <ion-col *ngFor="let product of products" size-md="6" size-lg="4" size-xl="3">
      <ion-card (click)="productDetail(product)" class="ion-no-margin shadow mb-1">
        <ion-card-content class="ion-no-padding">
          <swiper-container pagination="true">
            <swiper-slide>
              <img [src]='product.coverImage'>
            </swiper-slide>
            <swiper-slide *ngFor="let img of product.imgUrls">
              <img [src]='img'>
            </swiper-slide>
          </swiper-container>
          <ion-badge class="badge" color="dark">Free shipping</ion-badge>
          <div style="padding-left: 10px !important;padding-bottom: 6px">

            <ion-item style="--background: transparent !important;" lines="none" class="ion-no-padding">
              <ion-label class="ion-text-wrap">
                <h2 class="ion-no-margin pName pTag bold">
                  <ion-text color="dark">{{product.title | titlecase}}</ion-text>
                </h2>
                <p class="mb-1 pDescription">
                  <ion-text color="medium">{{product.description}}</ion-text>
                </p>
                <hr>
                <p class="bold text-primary pTag">${{product.price}}</p>

              </ion-label>
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</div>