<div class="container-fluid">
  <div class="row mb-2">
    <div class="col-lg-10 col-md-10 col-sm-10">
      <h1 class="text-dark">Grab the best<b class="primary-text"> Recommended Products</b></h1>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2">
      <h4 (click)="allProduct()" style="cursor: pointer !important;" class="text-primary text-end">View All</h4>
    </div>
  </div>
</div>

<hr>

<div class="container-fluid" *ngIf="myproducts.length">
  <div class="scrollHorizontal mb-1">
    <ion-card *ngFor="let car of myproducts" class="ion-no-margin reviewCard">
      <ion-card-content class="ion-no-padding">
        <swiper-container pagination="true">
          <swiper-slide>
            <img src={{car?.coverImageUrl}}>
          </swiper-slide>
          <swiper-slide *ngFor="let img of car?.imageUrls; index as i">
            <img src={{img}}>
          </swiper-slide>
        </swiper-container>
        <div style="padding-left: 10px !important;padding-bottom: 6px">

          <ion-item style="--background: transparent !important;" lines="none" class="ion-no-padding">
            <ion-label>
              <h3 class="ion-no-margin pName bold">
                <ion-text color="dark">{{car?.productName | titlecase}}</ion-text>
              </h3>
              <p>
                <ion-text color="medium">{{car?.location}}</ion-text>
              </p>
              <p class="bold priceTxt">${{car?.carPrice}}</p>

            </ion-label>
          </ion-item>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>

<div>
  <ion-row>
    <ion-col *ngFor="let product of products" size="3">
      <ion-card (click)="productDetail()" class="ion-no-margin shadow mb-1">
        <ion-card-content class="ion-no-padding">
          <swiper-container pagination="true">
            <swiper-slide>
              <img [src]='product.coverImage'>
            </swiper-slide>
            <swiper-slide *ngFor="let img of product.imgUrls">
              <img [src]='img'>
            </swiper-slide>
          </swiper-container>
          <div style="padding-left: 10px !important;padding-bottom: 6px">

            <ion-item style="--background: transparent !important;" lines="none" class="ion-no-padding">
              <ion-label class="ion-text-wrap">
                <h2 class="ion-no-margin pName pTag bold">
                  <ion-text color="dark">{{product.title | titlecase}}</ion-text>
                </h2>
                <p class="mb-1 pDescription">
                  <ion-text color="medium">{{product.description}}</ion-text>
                </p>
                <hr>
                <p class="bold text-primary pTag">${{product.price}}</p>

              </ion-label>
            </ion-item>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</div>